<!-- Speed dial bottom right -->
<!-- <mat-grid-list cols="4" id="CV-wrapper" class="mx-auto w-100 h-100" rowHeight="1:2">
  <mat-grid-tile class="mx-auto" rowspan="1" colspan="3">
    <mat-grid-list id="CV" cols="4" rowHeight="29.7cm">
      <mat-grid-tile id="main" colspan="3" rowspan="1">
        Main
      </mat-grid-tile>
      <mat-grid-tile id="banner" colspan="1" rowspan="1">
        Banner
      </mat-grid-tile>
    </mat-grid-list>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1">
    <button mat-fab color="primary" aria-label="Download file">
      <mat-icon>file_download</mat-icon>
    </button>
  </mat-grid-tile>
</mat-grid-list> -->

<mat-grid-list id="CV" cols="4" rowHeight="29.7cm">
  <mat-grid-tile id="main" colspan="3" rowspan="1">
    Main
  </mat-grid-tile>
  <mat-grid-tile id="banner" colspan="1" rowspan="1">
    Banner
  </mat-grid-tile>
</mat-grid-list>
