#CV {
  margin-left: auto;
  margin-right: auto;
  width: 21cm;
  background-color: white;
  #id {
    color: black;
    background-color: whitesmoke;
  }
  #banner {
    color: white;
    background-color: #dd0000;
  }
}
