<div class="grid-container">
  <h1 class="mat-h1">Compétences</h1>

  <mat-grid-list cols="3" rowHeight="100px">
    <mat-grid-tile
      class="shadow-2xl"
      colspan="1"
      rowspan="1"
    >
      <div class="flex items-center justify-center w-full h-full">
        <p class="m-0 text-lg w-60 oswald">Angular</p>
        <mat-progress-bar
          [color]="'warn'"
          [mode]="'buffer'"
          [value]="50"
          [bufferValue]="90"
        >
        </mat-progress-bar>
      </div>
    </mat-grid-tile>
    <mat-grid-tile
      class="shadow-2xl"
      colspan="1"
      rowspan="1"
    >
      <div class="flex items-center justify-center w-full h-full">
        <p class="m-0 text-lg w-60 oswald">Flutter</p>
        <mat-progress-bar
          [color]="'primary'"
          [mode]="'buffer'"
          [value]="20"
          [bufferValue]="80"
        >
        </mat-progress-bar>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
