<h1 class="mat-h1">Expériences</h1>

<mat-vertical-stepper
  class="shadow-xl hover:shadow-2xl"
  [linear]="false"
  #stepper
>
  <mat-step
    label="2020-2021 | Remote avec des amis | Développeur JS | (Temps libre)"
  >
    <ul class="mt-3 text-base list-disc list-inside">
      <li>
        Panel d'administration : administration d'une application
        mobile React Native à l'aide Angular.
      </li>
      <li>
        Application de gestion d'associations : aide à la
        planification de certains choix. Rôle de développeur fullstack
        React/Nestjs.
      </li>
      <li>
        Application de chat en ligne cross-platform : organisateur,
        avec des amis, de tout le projet. Frontend en Flutter, backend
        en ASP.NET.
      </li>
    </ul>
  </mat-step>
  <mat-step
    label="2019-2021 | Développeur frontend Angular | Pass Technologie"
  >
    <ul class="mt-3 text-base list-disc list-inside">
      <li>
        Application desktop permettant une conception guidée de
        cloisons vitrées : gestion de l'UI/UX -
        <em class="text-sm">Angular & Electron</em>.
      </li>
      <li>
        Refonte du site web de Correlyce en Angular : gestion de l'UI,
        state management -
        <em class="text-sm">Angular</em>.
      </li>
    </ul>
  </mat-step>
</mat-vertical-stepper>

<h1 class="mt-8 mat-h1">Formations</h1>

<mat-vertical-stepper
  class="shadow-xl hover:shadow-2xl"
  [linear]="false"
  #stepper
>
  <mat-step label="2019-2021 | BTS SIO | CFA INSTA, Paris 2e (En cours)">
    <b>BTS SIO</b> -
    <em class="text-sm">Services Informatiques aux Organisations</em><br>
    | option <b>SLAM</b> -
    <em class="text-sm"
      >Solutions Logicielles et Applications Métier</em
    >
  </mat-step>
  <mat-step label="2018-2019 | Bac S | Lycée Jean Rostand, Villepinte">
    <b>Bac S</b><br>
		| option <b>SI</b> -
    <em class="text-sm">Sciences de l'Ingénieur</em><br />
    | spécialité <b>ISN</b> -
    <em class="text-sm">Informatique et Sciences du Numérique</em
    ><br />
    | Mention : <em><b>Bien</b></em>
  </mat-step>
</mat-vertical-stepper>
