<h1 class="mat-h1">Expériences</h1>

<mat-vertical-stepper
  class="shadow-xl hover:shadow-2xl"
  [linear]="false"
  #stepper
>
  <mat-step label="Développeur frontend Angular, Pass Technologie">
    PASS Technologie, Paris 12<sup>ème</sup>
  </mat-step>
</mat-vertical-stepper>

<h1 class="mt-8 mat-h1">Formations</h1>

<mat-vertical-stepper
  class="shadow-xl hover:shadow-2xl"
  [linear]="false"
  #stepper
>
  <mat-step label="BTS SIO, option SLAM, CFA INSTA">
    BTS Services Informatiques aux Organisations, option Solutions
    Logicielles Appliqués aux Métiers <br />
    CFA INSTA, Paris 2<sup>ème</sup>
  </mat-step>
  <mat-step label="Bac S option SI, spé ISN, Lycée Jean Rostand">
    Bac Scientifiques option Sciences de l'Ingénieur, spécialité
    ...<br />
    Lycée Jean Rostand, Villepinte
  </mat-step>
</mat-vertical-stepper>
