<form [formGroup]="contactForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">

    <mat-card-header>
      <mat-card-title>Vous souhaitez me contacter ?</mat-card-title>
		</mat-card-header>

    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Prénom" formControlName="firstName">
            <mat-error *ngIf="contactForm.controls['firstName'].hasError('required')">
              Prénom <strong>obligatoire</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Nom" formControlName="lastName">
            <mat-error *ngIf="contactForm.controls['lastName'].hasError('required')">
              Nom <strong>obligatoire</strong>
            </mat-error>
          </mat-form-field>
        </div>
			</div>
			<div class="row">
				<div class="col">
					<mat-form-field class="full-width">
						<input matInput placeholder="Email" formControlName="email">
            <mat-error *ngIf="contactForm.controls['email'].hasError('required')">
              Email <strong>obligatoire</strong>
            </mat-error>
					</mat-form-field>
				</div>
				<div class="col">
					<mat-form-field class="full-width">
						<input matInput placeholder="Téléphone" formControlName="tel">
						<mat-error *ngIf="contactForm.controls['tel'].hasError('required')">
							Téléphone <strong>obligatoire</strong>
						</mat-error>
					</mat-form-field>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<mat-form-field class="full-width">
						<textarea matInput placeholder="Message" formControlName="message"></textarea>
						<mat-error *ngIf="contactForm.controls['message'].hasError('required')">
							Message <strong>obligatoire</strong>
            </mat-error>
					</mat-form-field>
				</div>
			</div>
		</mat-card-content>

    <mat-card-actions class="flex justify-end">
      <button mat-raised-button color="primary" type="submit">
				<fa-icon [icon]="['fas', 'paper-plane']"></fa-icon><span class="ml-1 text-xl oswald">Envoyer</span>
			</button>
		</mat-card-actions>

  </mat-card>
</form>
