<!-- <form [formGroup]="contactForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Vous souhaitez me contacter ?</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Prénom"
              formControlName="firstName"
            />
            <mat-error
              *ngIf="
                contactForm.controls['firstName'].hasError('required')
              "
            >
              Prénom <strong>obligatoire</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Nom"
              formControlName="lastName"
            />
            <mat-error
              *ngIf="
                contactForm.controls['lastName'].hasError('required')
              "
            >
              Nom <strong>obligatoire</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Email"
              formControlName="email"
            />
            <mat-error
              *ngIf="
                contactForm.controls['email'].hasError('required')
              "
            >
              Email <strong>obligatoire</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Téléphone"
              formControlName="tel"
            />
            <mat-error *ngIf="contactForm.controls['tel']">
              Téléphone <strong>obligatoire</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Sujet"
              formControlName="subject"
            />
            <mat-error
              *ngIf="
                contactForm.controls['subject'].hasError('required')
              "
            >
              Sujet <strong>obligatoire</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea
              matInput
              placeholder="Message"
              formControlName="message"
            ></textarea>
            <mat-error
              *ngIf="
                contactForm.controls['message'].hasError('required')
              "
            >
              Message <strong>obligatoire</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>

    <mat-card-actions class="flex justify-end">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        (click)="onSubmit()"
        [disabled]="contactForm.invalid"
      >
        <fa-icon [icon]="['fas', 'paper-plane']"></fa-icon>
        <span class="ml-1 text-xl oswald">Envoyer</span>
      </button>
    </mat-card-actions>
  </mat-card>
</form> -->
<div
  class="flex flex-col items-center justify-around lg:flex-row h-96"
>
  <div class="flex flex-row items-center justify-center lg:flex-col">
    <a
      class="flex items-center justify-center h-16 ml-auto mr-auto text-xl sm:h-24 sm:text-3xl bold w-72 sm:w-96"
      mat-raised-button
      color="warn"
      [href]="mailTo"
    >
      <fa-icon [icon]="'envelope'"></fa-icon>
      ejilane.jarod@gmail.com
    </a>
  </div>
  <div class="flex flex-row items-center justify-center lg:flex-col">
    <a
      class="flex items-center justify-center h-16 ml-auto mr-auto text-xl sm:h-24 sm:text-3xl bold w-72 sm:w-96"
      mat-raised-button
      color="warn"
      href="tel:+33768458663"
    >
      <fa-icon [icon]="'phone'"></fa-icon>
      07 68 45 86 63
    </a>
  </div>
</div>

<!-- @TODO: rajouter les réseaux sociaux -->
