<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a
        *ngFor="let link of links"
        mat-list-item
        [routerLink]="link.path"
      >
        {{ link.label }}
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="flex justify-between" color="primary">
      <div>
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async"
        >
          <mat-icon aria-label="SidesocInfonav toggle icon">
            menu
          </mat-icon>
        </button>
        <span class="text-xs font-bold roboto sm:text-base">
          EJILANE Jarod
        </span>
      </div>
      <div>
        <a
          *ngFor="let socialInfo of socialInfos"
          mat-icon-button
          class="mr-px md:mr-4"
          [href]="socialInfo.link"
          target="_blank"
          rel="noopener noreferer"
        >
          <fa-icon
            class="text-white sm:text-3xl"
            [icon]="socialInfo.icon"
          ></fa-icon>
        </a>
      </div>
    </mat-toolbar>

    <!-- Add Content Here -->
    <div class="grid-container">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
