<!-- <app-page-not-ready></app-page-not-ready> -->

<!-- <h1>Accueil</h1> -->
<div fxLayout="row" fxLayoutAlign="space-around space-around">
  <mat-card class="intro">
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center stretch" fxLayoutGap.sm="10px">
      <img matCardImage src="assets/Jarod CV img.PNG">
      <mat-card-header>
        <mat-card-title>Ejilane Jarod</mat-card-title>
        <mat-card-subtitle>Développeur junior Angular</mat-card-subtitle>
      </mat-card-header>
    </div>
    <mat-card-content>
      Développeur un peu touche à tout. J'adore les maths et
    </mat-card-content>
    <mat-card-actions align="start">
      <button mat-button color="primary">Action1</button>
    </mat-card-actions>
    <mat-card-footer>
      Footer
    </mat-card-footer>
  </mat-card>
  <!-- <mat-card class="intro">
      <mat-card-header>
          <mat-card-title>Ejilane Jarod</mat-card-title>
          <mat-card-subtitle>Développeur junior Angular</mat-card-subtitle>
      </mat-card-header>
      <img matCardImage src="assets/Jarod CV img.PNG">
      <mat-card-content>
          Développeur un peu touche à tout. J'adore les maths et
      </mat-card-content>
      <mat-card-actions align="start">
          <button mat-button color="primary">Action1</button>
      </mat-card-actions>
      <mat-card-footer>
          Footer
      </mat-card-footer>
  </mat-card> -->
</div>

