.intro {
  padding: 50px 40px 15px 40px;
  img {
    height: 100%;
    width: 100%;
    height: calc(468px / 3);
    width: calc(626px / 3);
  }
}

mat-card {
  max-width: 90vw;
  max-width: 90%;
}

.header-image {
  background-size: cover;
}
